body{
  margin-left: 10px;
  margin-right: 10px;
}

/*
.container{
  margin-left: 5px;
  margin-right: 5px;
  padding-right: 3px;
}
*/
#logo
{
  width: 150px;
  height: 150px;
}

.sidebar{
  font-size: 12px;
  margin-left: 10px;
}

hr{
  margin-top: 0.05em;
  margin-bottom: 0.25em;
}

.login{
  text-align: right;
}

#tiny{
  width: 20px;
  height: 20px;
}

.nav-item{
  font-size: 12px;
}

#tabs{
  margin-right: 5px;
}

.well-sm{
  background-color: #f9f9f9;
}

img {
  width: 250px;
  height: 310px;
  padding: 5px;
}

.picwords {
  float: left;
}

.right-text{
  text-align: right;
}

.picwords2 {
  float: right;
}

.rightpic{
  width: 130px;
  height: 150px;
}

#searchBar{
  align-self: flex-end;
}

.panelHeading1{
  background: #cef2e0;
  margin: 5px;
  height: 35px;
  padding-inline: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #a3bfb1;
}

.panelbody1{
  background-color: #f5fffa;
}

.panelbody2{
  background-color: #f5faff;
}

.panelBody3{
  background-color: #ddcef2;
}

#featuredPic{
  float: left;
  height: 250px;
  width: 250px;
}

.centeredText{
    text-align: center;
}

.verticalCenter{
  padding: 20px;
}

.icons{
  float: left;
  width: 50px;
  height: 50px;
}